h1{
    color:blue
}

html{
    height: 100%;
}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
    background-color: rgb(37,37,37);
    
}
.nav{
    
    color:white;
    background-color: rgb(87,87, 87);
    
    
    
}

.lista-nav{
    display: flex;
    padding: 10px 0px;
    margin: 0px;
    justify-content: space-around;
    
    list-style: none;
}

.lista-nav-item{
    font-size: 20px;
    font-weight: bold;

}

footer{
    padding: 10px 0px;
    color:white;
    text-align: center;
    background-color: rgb(87,87, 87);
    font-weight: bold;
}

.lista-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    row-gap:10px ;
    margin: 5px;
}

.card{
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color:rgb(178, 9, 245);
    justify-content: space-between;
    
    
    
    
     
}

button{
    width: 20px;
    text-align: center;
    border-radius: 30px;
    background-color:#Ffd700
}

.botão{
    text-align: center;
    border-bottom: 2px;
    width: 100%;
    color:blue
}

p{
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(238, 105, 17);
    color: black;
}

img{
    border-radius: 10px;
}

span{
    color:rgb(178, 9, 245)
}